<div class='column is-half is-centered'>
	<h2>Leave me a message</h2>
	<label for='from' class='is-full'>From:</label><br />
	<input type='text' class='is-full' id='from' name='from' /><br />
	<label for='message' class='is-full'>Message:</label><br />
	<textarea
		name='message'
		class='is-full'
		id='message'
		cols='30'
		rows='10'
	></textarea>
</div>