:root {
	--font-family: Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace,
			serif;

	--body-bg: #111111;
	--bg: #111111;
	--color: #ffc118;
	--link-color: #5f27cd;

	--font-size-1: 1rem;
}