body {
	background-color: var(--body-bg);
	color: var(--color);
	font-family: var(--font-family);
	font-size: var(--font-size-1);

	margin: 0;
	padding: 0;
}

.container {
	background-color: var(--bg);
	margin: 0 auto;
	padding: 1rem;
	max-width: 40em;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav > ul {
	list-style: none;
}

nav > ul > li {
	display: inline;
}

a {
	color: var(--link-color);
}

.columns {
	display: flex;
	flex-wrap: wrap;
}

.is-half {
	width: 50%;
}

.is-full {
	width: 100%;
}

.is-centered {
	margin: 0 auto;
}

.no-list-style {
	list-style: none;
	margin: 0;
	padding: 0;
}